extends layout

block content
  div(class="accueil")
    h1= 'Welcome to your road trip'

    a(class="buttonsAccueil" href="experiment") Go to the gallery
  
    a(class="buttonsAccueil" href="canvas.html") Start a new road trip

