extends layout

block content
  div(class="liste")
    ul
      each experiment in experiments
        li= experiment.title
          a(href=`/experiment/${experiment.id}`) View the road trip
      else
        li There are no experiment
        
